
.font {
  font-family: "Courier", serif;
}
.navbar {
  text-align: left;
}

#logo {
  color: black;
  font-weight: bold;
}

#login {
  width: 50%;
  margin: 113px 50px 0 50px;

}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px 0 5px 50px;
}

#searchbar {
  margin: 10px 50% 0px 35%;
  padding: 10px;
  width: 25%;
}

.review-list {
 text-align: left;
 margin: 39px 0 5% 34%;
}

.book-details {
  display: grid;
  margin: auto;
}

#book-card {
  margin: auto;
}

#readits-take {
  text-align: center;
}

.readit-desc {
  font-size: 20px;
}

.item {
  font-size: 16px;
}

.profile {
  margin: 20px 0 0 20px;
  font-size: 18px;
}

.review-cont {
  padding: 0px 30px 0px 30px;
}

.delete-button {
  margin: 10px 0px 0px 20px;
}

.details-grid {
  display: grid;
  grid-template-columns: 34% 27%;
  margin: 25px 0 25px 27%
}

form {
  width: 45%;
  margin: auto;
}

.ui.button {
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
